body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .container input[type="name"],
  .container input[type="id"],
  .container input[type="phone no"],
  .container input[type="email"],
  .container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .container button[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4caf50;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  .container p.message {
    text-align: center;
  }
  
  .container p.message a {
    color: #4caf50;
    text-decoration: none;
  }
  
  .container p.message a:hover {
    text-decoration: underline;
  }
  